<h1>IMAGE GALLERY</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/PICTURES/PARROTS.jpg" alt="Image 1" width="345" height="370">
        </div>
        <div class="col-md-4">
            <img src="assets/PICTURES/LEAVES.jpg" alt="Image 2" width="345" height="370">
        </div>
        <div class="col-md-4">
            <img src="assets/PICTURES/WEATHER.jpg" alt="Image 3" width="345" height="370">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/PICTURES/BADSHAHI MOSQUE.jpg" alt="Image 1" width="345" height="370">
        </div>
        <div class="col-md-4">
            <img src="assets/PICTURES/SNOOKER.jpg" alt="Image 2" width="345" height="370">
        </div>
        <div class="col-md-4">
            <img src="assets/PICTURES/YAMAHA.jpg" alt="Image 3" width="345" height="370">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/PICTURES/SILA.jpg" alt="Image 1" width="345" height="370">
        </div>
        <div class="col-md-4">
            <img src="assets/PICTURES/TLX.jpg" alt="Image 2" width="345" height="370">
        </div>
        <div class="col-md-4">
            <img src="assets/PICTURES/MOHIB.jpg" alt="Image 3" width="320" height="385">
        </div>
    </div>

</div>