<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="sec1">
    <div class="wallImg">
        <img src="assets/PICTURES/WALL IMAGE.jpg" class="img-fluid" alt="Wall Image">
    </div><br>
    <marquee onMouseOver="stop();" onMouseOut="start();">WELCOME TO THE OFFICIAL WEBSITE OF ROJAK PHOTOGRAPHY!</marquee>
    <h2>SERVICES WE OFFER</h2>
    <ul>
        <li>INDIVIDUAL PHOTOSHOOTS</li>
        <li>GROUP PHOTOSHOOTS</li>
        <li>PRODUCT PHOTOGRAPHY</li>
        <li>VEHICLE PHOTOGRAPHY</li>
        <li>EVENT PHOTOGRAPHY</li>
    </ul>
    <p>For more details please visit the "ABOUT US" page of the website.</p>
</section>