<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="sec1">
    <h1>ABOUT US</h1>
    <div class="text">
        <p>
            We are mainly based in Rawalpindi and Islamabad. The word "ROJAK" means a mixture of different things and we
            believe
            in being different yet brilliant. We offer our services at a very reasonable price. Seeing is believing so
            don't
            hesitate and book us for your next event. We will help you capture your memories and make them even more
            beautiful
            for you. To book us you can inbox us on Facebook, DM us on Instagram or you can reach us out on WhatApp.
            Have a good day!
        </p>
    </div>
    <hr width="100%">
    <h1>OUR PHOTOGRAPHERS</h1>
    <div class="pdiv">
        <div class="idiv">
            <img src="assets/PICTURES/SHAHMIR.jpg" alt="AUH">
            <div class="Name">
                <p><b>SHAHMIR RUHAIL</b></p>
            </div>
            <hr>
        </div>
        <div class="tdiv">
            <div class="div">
                <p>Shahmir Ruhail covers the areas of Rawalpindi and its surroundings. He is always eager to learn new
                    things. His
                    passion brings zeal and zest to his work.</p>
            </div>
        </div>
    </div>
    <div class="pdiv">
        <div class="idiv">
            <img src="assets/PICTURES/M.ABDULLAH.jpg" alt="AUH">
            <div class="Name">
                <p><b>MOHAMMAD ABDULLAH</b></p>
            </div>
            <hr>
        </div>
        <div class="tdiv">
            <div class="div">
                <p>Mohammad Abdullah covers the areas of Islamabad and its surroundings. He is always eager to
                    improvise. His
                    creativity brings charm to his work.</p>
            </div>
        </div>
    </div>
</section>